*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bodyColor: #1E1C1C;
    --textColor: #fff;
    --profileColor: #292929;
    --buttonColor: #4E51BD;
    --musicTitle: #5656FF;
    --designTitle: #FF00D1;
}

body {
    font-family: 'Roboto', sans-serif;
}

.backToMenu{
    text-decoration: none;
    color: var(--textColor);
    margin-top: 1rem;
}

@media (max-width:599px) {

    /*INDEX/////////////////////////////////////*/
    
    .profileMenu{
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 1rem;
    }

    
    /*PAGES/////////////////////////////////////*/

    .profilePhoto {
        display: none;
    }
}

@media (min-width: 600px) and (max-width: 920px) {

    /*PAGES/////////////////////////////////////*/
    .container{
        display: flex;
        flex-direction: column;
        margin-top: 25rem;
        width: 100%;
        gap: 4rem;
    }
    
}